<div class="col-md-offset-2">
  <div class="col-md-4">
    <%= distance %>
  </div>
  <div class="col-md-4">
    <%= SwimStat.find_date_for(time, SwimStat.user_best_time(time, current_user)) %>
  </div>
  <div class="col-md-4">
    <%= SwimStat.user_best_time(time, current_user) %>
  </div>
</div>


