<div class="col-md-offset-2">
  <div class="col-md-4"><%= distance %></div>
  <div class="col-md-4"><%= bw_date(time, worst_time(time)) %></div>
  <div class="col-md-4"><%= worst_time(time) %></div>
</div>