<div class="container-fluid">

  <div class="col-md-2">
    <%= render 'shared/side_navbar' %>
  </div>
  <div class="col-md-10" id="swim-form">
    <div class="row">
      <%= form_for [current_user, @swim_stat], class: "form-horizontal" do |form| %>
        <%= render partial: "form", locals: { form: form } %>
        <%= render partial: "shared/form_button",
                    locals: { div_class: "col-md-offset-10 col-md-2",
                              message: "Add Stat",
                              path: new_user_swim_stat_path(current_user, @swim_stat) } %>
      <% end %>
    </div>
  </div>
</div>
