<div class="container-fluid">

  <div class="col-md-2">
    <%= render 'shared/side_navbar' %>
  </div>
  <div class="col-md-10" id="swim-form">
    <div class="row">
      <%= form_for [current_user, @swim_stat], class: "form-horizontal" do |form| %>
        <%= render partial: "form", locals: { form: form } %>
        <%= render partial: "form_button", locals: { message: "Add Stat" } %>
      <% end %>
    </div>
  </div>
</div>
