<% if flash[:message] %>
  <div><%= flash[:message] %></div>
<% end %>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 text-center">
      <p>Welcome to Habit Tracker!</p>
      <p>This is a place to keep track of daily habits</p>
      <p>be they good or bad.</p>
      <p>Log In to keep on tracking or Sign Up to start your tracking!</p>
    </div>
  </div>
</div>