body {
  padding-top: 70px;
}

.logo {
  padding-top: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.head {
  text-decoration: underline;
  font-weight: bold;
}

.side-nav-btn {
  width: 100%;
}

#totals{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}